# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/.idea/BiomedGPT.iml
/.idea/deployment.xml
/datasets/finetuning/VQA-RAD/dictionary.pkl
/datasets/finetuning/VQA-RAD/embed_tfidf_weights.pkl
/datasets/finetuning/VQA-RAD/glove/glove.6B.300d.txt
/datasets/finetuning/VQA-RAD/glove6b_init_300d.npy
/datasets/finetuning/VQA-RAD/images84x84.pkl
/datasets/finetuning/VQA-RAD/images128x128.pkl
/datasets/finetuning/VQA-RAD/imgid2idx.json
/.idea/misc.xml
/.idea/modules.xml
/datasets/finetuning/VQA-RAD/pretrained_ae.pth
/datasets/finetuning/VQA-RAD/pretrained_maml.weights
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/datasets/finetuning/VQA-RAD/images/synpic676.jpg
/datasets/finetuning/VQA-RAD/images/synpic9872.jpg
/datasets/finetuning/VQA-RAD/images/synpic12210.jpg
/datasets/finetuning/VQA-RAD/images/synpic13385.jpg
/datasets/finetuning/VQA-RAD/images/synpic15006.jpg
/datasets/finetuning/VQA-RAD/images/synpic16170.jpg
/datasets/finetuning/VQA-RAD/images/synpic16174.jpg
/datasets/finetuning/VQA-RAD/images/synpic16221.jpg
/datasets/finetuning/VQA-RAD/images/synpic16407.jpg
/datasets/finetuning/VQA-RAD/images/synpic16520.jpg
/datasets/finetuning/VQA-RAD/images/synpic16810.jpg
/datasets/finetuning/VQA-RAD/images/synpic17145.jpg
/datasets/finetuning/VQA-RAD/images/synpic17153.jpg
/datasets/finetuning/VQA-RAD/images/synpic17664.jpg
/datasets/finetuning/VQA-RAD/images/synpic17675.jpg
/datasets/finetuning/VQA-RAD/images/synpic17693.jpg
/datasets/finetuning/VQA-RAD/images/synpic17738.jpg
/datasets/finetuning/VQA-RAD/images/synpic17848.jpg
/datasets/finetuning/VQA-RAD/images/synpic18250.jpg
/datasets/finetuning/VQA-RAD/images/synpic18319.jpg
/datasets/finetuning/VQA-RAD/images/synpic18461.jpg
/datasets/finetuning/VQA-RAD/images/synpic18651.jpg
/datasets/finetuning/VQA-RAD/images/synpic18896.jpg
/datasets/finetuning/VQA-RAD/images/synpic19114.jpg
/datasets/finetuning/VQA-RAD/images/synpic19118.jpg
/datasets/finetuning/VQA-RAD/images/synpic19232.jpg
/datasets/finetuning/VQA-RAD/images/synpic19477.jpg
/datasets/finetuning/VQA-RAD/images/synpic19605.jpg
/datasets/finetuning/VQA-RAD/images/synpic19782.jpg
/datasets/finetuning/VQA-RAD/images/synpic19853.jpg
/datasets/finetuning/VQA-RAD/images/synpic20208.jpg
/datasets/finetuning/VQA-RAD/images/synpic20260.jpg
/datasets/finetuning/VQA-RAD/images/synpic20375.jpg
/datasets/finetuning/VQA-RAD/images/synpic20626.jpg
/datasets/finetuning/VQA-RAD/images/synpic21028.jpg
/datasets/finetuning/VQA-RAD/images/synpic21037.jpg
/datasets/finetuning/VQA-RAD/images/synpic21042.jpg
/datasets/finetuning/VQA-RAD/images/synpic21044.jpg
/datasets/finetuning/VQA-RAD/images/synpic21410.jpg
/datasets/finetuning/VQA-RAD/images/synpic21604.jpg
/datasets/finetuning/VQA-RAD/images/synpic21700.jpg
/datasets/finetuning/VQA-RAD/images/synpic21734.jpg
/datasets/finetuning/VQA-RAD/images/synpic21776.jpg
/datasets/finetuning/VQA-RAD/images/synpic21902.jpg
/datasets/finetuning/VQA-RAD/images/synpic21995.jpg
/datasets/finetuning/VQA-RAD/images/synpic22020.jpg
/datasets/finetuning/VQA-RAD/images/synpic22037.jpg
/datasets/finetuning/VQA-RAD/images/synpic22097.jpg
/datasets/finetuning/VQA-RAD/images/synpic22156.jpg
/datasets/finetuning/VQA-RAD/images/synpic22286.jpg
/datasets/finetuning/VQA-RAD/images/synpic22310.jpg
/datasets/finetuning/VQA-RAD/images/synpic22684.jpg
/datasets/finetuning/VQA-RAD/images/synpic22791.jpg
/datasets/finetuning/VQA-RAD/images/synpic22794.jpg
/datasets/finetuning/VQA-RAD/images/synpic22828.jpg
/datasets/finetuning/VQA-RAD/images/synpic22874.jpg
/datasets/finetuning/VQA-RAD/images/synpic22967.jpg
/datasets/finetuning/VQA-RAD/images/synpic22982.jpg
/datasets/finetuning/VQA-RAD/images/synpic23008.jpg
/datasets/finetuning/VQA-RAD/images/synpic23053.jpg
/datasets/finetuning/VQA-RAD/images/synpic23130.jpg
/datasets/finetuning/VQA-RAD/images/synpic23571.jpg
/datasets/finetuning/VQA-RAD/images/synpic23631.jpg
/datasets/finetuning/VQA-RAD/images/synpic23648.jpg
/datasets/finetuning/VQA-RAD/images/synpic23803.jpg
/datasets/finetuning/VQA-RAD/images/synpic23989.jpg
/datasets/finetuning/VQA-RAD/images/synpic24220.jpg
/datasets/finetuning/VQA-RAD/images/synpic24248.jpg
/datasets/finetuning/VQA-RAD/images/synpic24319.jpg
/datasets/finetuning/VQA-RAD/images/synpic24350.jpg
/datasets/finetuning/VQA-RAD/images/synpic24390.jpg
/datasets/finetuning/VQA-RAD/images/synpic24424.jpg
/datasets/finetuning/VQA-RAD/images/synpic24538.jpg
/datasets/finetuning/VQA-RAD/images/synpic24729.jpg
/datasets/finetuning/VQA-RAD/images/synpic24878.jpg
/datasets/finetuning/VQA-RAD/images/synpic24967.jpg
/datasets/finetuning/VQA-RAD/images/synpic25105.jpg
/datasets/finetuning/VQA-RAD/images/synpic25534.jpg
/datasets/finetuning/VQA-RAD/images/synpic25587.jpg
/datasets/finetuning/VQA-RAD/images/synpic25758.jpg
/datasets/finetuning/VQA-RAD/images/synpic25821.jpg
/datasets/finetuning/VQA-RAD/images/synpic26158.jpg
/datasets/finetuning/VQA-RAD/images/synpic26248.jpg
/datasets/finetuning/VQA-RAD/images/synpic26413.jpg
/datasets/finetuning/VQA-RAD/images/synpic26697.jpg
/datasets/finetuning/VQA-RAD/images/synpic26764.jpg
/datasets/finetuning/VQA-RAD/images/synpic26925.jpg
/datasets/finetuning/VQA-RAD/images/synpic27013.jpg
/datasets/finetuning/VQA-RAD/images/synpic27047.jpg
/datasets/finetuning/VQA-RAD/images/synpic27142.jpg
/datasets/finetuning/VQA-RAD/images/synpic27198.jpg
/datasets/finetuning/VQA-RAD/images/synpic27277.jpg
/datasets/finetuning/VQA-RAD/images/synpic27402.jpg
/datasets/finetuning/VQA-RAD/images/synpic27576.jpg
/datasets/finetuning/VQA-RAD/images/synpic27597.jpg
/datasets/finetuning/VQA-RAD/images/synpic27601.jpg
/datasets/finetuning/VQA-RAD/images/synpic27646.jpg
/datasets/finetuning/VQA-RAD/images/synpic27655.jpg
/datasets/finetuning/VQA-RAD/images/synpic27985.jpg
/datasets/finetuning/VQA-RAD/images/synpic28180.jpg
/datasets/finetuning/VQA-RAD/images/synpic28210.jpg
/datasets/finetuning/VQA-RAD/images/synpic28277.jpg
/datasets/finetuning/VQA-RAD/images/synpic28355.jpg
/datasets/finetuning/VQA-RAD/images/synpic28378.jpg
/datasets/finetuning/VQA-RAD/images/synpic28569.jpg
/datasets/finetuning/VQA-RAD/images/synpic28602.jpg
/datasets/finetuning/VQA-RAD/images/synpic28695.jpg
/datasets/finetuning/VQA-RAD/images/synpic28718.jpg
/datasets/finetuning/VQA-RAD/images/synpic28987.jpg
/datasets/finetuning/VQA-RAD/images/synpic29048.jpg
/datasets/finetuning/VQA-RAD/images/synpic29219.jpg
/datasets/finetuning/VQA-RAD/images/synpic29263.jpg
/datasets/finetuning/VQA-RAD/images/synpic29265.jpg
/datasets/finetuning/VQA-RAD/images/synpic29771.jpg
/datasets/finetuning/VQA-RAD/images/synpic29795.jpg
/datasets/finetuning/VQA-RAD/images/synpic30215.jpg
/datasets/finetuning/VQA-RAD/images/synpic30273.jpg
/datasets/finetuning/VQA-RAD/images/synpic30324.jpg
/datasets/finetuning/VQA-RAD/images/synpic31116.jpg
/datasets/finetuning/VQA-RAD/images/synpic31217.jpg
/datasets/finetuning/VQA-RAD/images/synpic31232.jpg
/datasets/finetuning/VQA-RAD/images/synpic31248.jpg
/datasets/finetuning/VQA-RAD/images/synpic31256.jpg
/datasets/finetuning/VQA-RAD/images/synpic31259.jpg
/datasets/finetuning/VQA-RAD/images/synpic31394.jpg
/datasets/finetuning/VQA-RAD/images/synpic31400.jpg
/datasets/finetuning/VQA-RAD/images/synpic31467.jpg
/datasets/finetuning/VQA-RAD/images/synpic31757.jpg
/datasets/finetuning/VQA-RAD/images/synpic31916.jpg
/datasets/finetuning/VQA-RAD/images/synpic31928.jpg
/datasets/finetuning/VQA-RAD/images/synpic31955.jpg
/datasets/finetuning/VQA-RAD/images/synpic31962.jpg
/datasets/finetuning/VQA-RAD/images/synpic32012.jpg
/datasets/finetuning/VQA-RAD/images/synpic32081.jpg
/datasets/finetuning/VQA-RAD/images/synpic32084.jpg
/datasets/finetuning/VQA-RAD/images/synpic32108.jpg
/datasets/finetuning/VQA-RAD/images/synpic32136.jpg
/datasets/finetuning/VQA-RAD/images/synpic32727.jpg
/datasets/finetuning/VQA-RAD/images/synpic32933.jpg
/datasets/finetuning/VQA-RAD/images/synpic32962.jpg
/datasets/finetuning/VQA-RAD/images/synpic32970.jpg
/datasets/finetuning/VQA-RAD/images/synpic32981.jpg
/datasets/finetuning/VQA-RAD/images/synpic33102.jpg
/datasets/finetuning/VQA-RAD/images/synpic33226.jpg
/datasets/finetuning/VQA-RAD/images/synpic33302.jpg
/datasets/finetuning/VQA-RAD/images/synpic33331.jpg
/datasets/finetuning/VQA-RAD/images/synpic33378.jpg
/datasets/finetuning/VQA-RAD/images/synpic33422.jpg
/datasets/finetuning/VQA-RAD/images/synpic33429.jpg
/datasets/finetuning/VQA-RAD/images/synpic33481.jpg
/datasets/finetuning/VQA-RAD/images/synpic33689.jpg
/datasets/finetuning/VQA-RAD/images/synpic33844.jpg
/datasets/finetuning/VQA-RAD/images/synpic33889.jpg
/datasets/finetuning/VQA-RAD/images/synpic33892.jpg
/datasets/finetuning/VQA-RAD/images/synpic34017.jpg
/datasets/finetuning/VQA-RAD/images/synpic34054.jpg
/datasets/finetuning/VQA-RAD/images/synpic34449.jpg
/datasets/finetuning/VQA-RAD/images/synpic34515.jpg
/datasets/finetuning/VQA-RAD/images/synpic34713.jpg
/datasets/finetuning/VQA-RAD/images/synpic34836.jpg
/datasets/finetuning/VQA-RAD/images/synpic34854.jpg
/datasets/finetuning/VQA-RAD/images/synpic34922.jpg
/datasets/finetuning/VQA-RAD/images/synpic34947.jpg
/datasets/finetuning/VQA-RAD/images/synpic35155.jpg
/datasets/finetuning/VQA-RAD/images/synpic35191.jpg
/datasets/finetuning/VQA-RAD/images/synpic35356.jpg
/datasets/finetuning/VQA-RAD/images/synpic35914.jpg
/datasets/finetuning/VQA-RAD/images/synpic37275.jpg
/datasets/finetuning/VQA-RAD/images/synpic37605.jpg
/datasets/finetuning/VQA-RAD/images/synpic38069.jpg
/datasets/finetuning/VQA-RAD/images/synpic38263.jpg
/datasets/finetuning/VQA-RAD/images/synpic38531.jpg
/datasets/finetuning/VQA-RAD/images/synpic38630.jpg
/datasets/finetuning/VQA-RAD/images/synpic38858.jpg
/datasets/finetuning/VQA-RAD/images/synpic39086.jpg
/datasets/finetuning/VQA-RAD/images/synpic39088.jpg
/datasets/finetuning/VQA-RAD/images/synpic39141.jpg
/datasets/finetuning/VQA-RAD/images/synpic39240.jpg
/datasets/finetuning/VQA-RAD/images/synpic39301.jpg
/datasets/finetuning/VQA-RAD/images/synpic39460.jpg
/datasets/finetuning/VQA-RAD/images/synpic39532.jpg
/datasets/finetuning/VQA-RAD/images/synpic39757.jpg
/datasets/finetuning/VQA-RAD/images/synpic40096.jpg
/datasets/finetuning/VQA-RAD/images/synpic40272.jpg
/datasets/finetuning/VQA-RAD/images/synpic40314.jpg
/datasets/finetuning/VQA-RAD/images/synpic40426.jpg
/datasets/finetuning/VQA-RAD/images/synpic40464.jpg
/datasets/finetuning/VQA-RAD/images/synpic40500.jpg
/datasets/finetuning/VQA-RAD/images/synpic40520.jpg
/datasets/finetuning/VQA-RAD/images/synpic40596.jpg
/datasets/finetuning/VQA-RAD/images/synpic41050.jpg
/datasets/finetuning/VQA-RAD/images/synpic41119.jpg
/datasets/finetuning/VQA-RAD/images/synpic41325.jpg
/datasets/finetuning/VQA-RAD/images/synpic41667.jpg
/datasets/finetuning/VQA-RAD/images/synpic41772.jpg
/datasets/finetuning/VQA-RAD/images/synpic41788.jpg
/datasets/finetuning/VQA-RAD/images/synpic42157.jpg
/datasets/finetuning/VQA-RAD/images/synpic42182.jpg
/datasets/finetuning/VQA-RAD/images/synpic42202.jpg
/datasets/finetuning/VQA-RAD/images/synpic42210.jpg
/datasets/finetuning/VQA-RAD/images/synpic42245.jpg
/datasets/finetuning/VQA-RAD/images/synpic42290.jpg
/datasets/finetuning/VQA-RAD/images/synpic42307.jpg
/datasets/finetuning/VQA-RAD/images/synpic42805.jpg
/datasets/finetuning/VQA-RAD/images/synpic42951.jpg
/datasets/finetuning/VQA-RAD/images/synpic43433.jpg
/datasets/finetuning/VQA-RAD/images/synpic43609.jpg
/datasets/finetuning/VQA-RAD/images/synpic43648.jpg
/datasets/finetuning/VQA-RAD/images/synpic44865.jpg
/datasets/finetuning/VQA-RAD/images/synpic44995.jpg
/datasets/finetuning/VQA-RAD/images/synpic45039.jpg
/datasets/finetuning/VQA-RAD/images/synpic45115.jpg
/datasets/finetuning/VQA-RAD/images/synpic45162.jpg
/datasets/finetuning/VQA-RAD/images/synpic45364.jpg
/datasets/finetuning/VQA-RAD/images/synpic45544.jpg
/datasets/finetuning/VQA-RAD/images/synpic45557.jpg
/datasets/finetuning/VQA-RAD/images/synpic45610.jpg
/datasets/finetuning/VQA-RAD/images/synpic45634.jpg
/datasets/finetuning/VQA-RAD/images/synpic45699.jpg
/datasets/finetuning/VQA-RAD/images/synpic45914.jpg
/datasets/finetuning/VQA-RAD/images/synpic46062.jpg
/datasets/finetuning/VQA-RAD/images/synpic46539.jpg
/datasets/finetuning/VQA-RAD/images/synpic46720.jpg
/datasets/finetuning/VQA-RAD/images/synpic46764.jpg
/datasets/finetuning/VQA-RAD/images/synpic46943.jpg
/datasets/finetuning/VQA-RAD/images/synpic46976.jpg
/datasets/finetuning/VQA-RAD/images/synpic47020.jpg
/datasets/finetuning/VQA-RAD/images/synpic47191.jpg
/datasets/finetuning/VQA-RAD/images/synpic47196.jpg
/datasets/finetuning/VQA-RAD/images/synpic47356.jpg
/datasets/finetuning/VQA-RAD/images/synpic47737.jpg
/datasets/finetuning/VQA-RAD/images/synpic47783.jpg
/datasets/finetuning/VQA-RAD/images/synpic47964.jpg
/datasets/finetuning/VQA-RAD/images/synpic47974.jpg
/datasets/finetuning/VQA-RAD/images/synpic48091.jpg
/datasets/finetuning/VQA-RAD/images/synpic48122.jpg
/datasets/finetuning/VQA-RAD/images/synpic48714.jpg
/datasets/finetuning/VQA-RAD/images/synpic48749.jpg
/datasets/finetuning/VQA-RAD/images/synpic49027.jpg
/datasets/finetuning/VQA-RAD/images/synpic49381.jpg
/datasets/finetuning/VQA-RAD/images/synpic49862.jpg
/datasets/finetuning/VQA-RAD/images/synpic49914.jpg
/datasets/finetuning/VQA-RAD/images/synpic50848.jpg
/datasets/finetuning/VQA-RAD/images/synpic50943.jpg
/datasets/finetuning/VQA-RAD/images/synpic50949.jpg
/datasets/finetuning/VQA-RAD/images/synpic50958.jpg
/datasets/finetuning/VQA-RAD/images/synpic50962.jpg
/datasets/finetuning/VQA-RAD/images/synpic51212.jpg
/datasets/finetuning/VQA-RAD/images/synpic51282.jpg
/datasets/finetuning/VQA-RAD/images/synpic51383.jpg
/datasets/finetuning/VQA-RAD/images/synpic51426.jpg
/datasets/finetuning/VQA-RAD/images/synpic51709.jpg
/datasets/finetuning/VQA-RAD/images/synpic51774.jpg
/datasets/finetuning/VQA-RAD/images/synpic51872.jpg
/datasets/finetuning/VQA-RAD/images/synpic51926.jpg
/datasets/finetuning/VQA-RAD/images/synpic52248.jpg
/datasets/finetuning/VQA-RAD/images/synpic52282.jpg
/datasets/finetuning/VQA-RAD/images/synpic52732.jpg
/datasets/finetuning/VQA-RAD/images/synpic52767.jpg
/datasets/finetuning/VQA-RAD/images/synpic52828.jpg
/datasets/finetuning/VQA-RAD/images/synpic52932.jpg
/datasets/finetuning/VQA-RAD/images/synpic52951.jpg
/datasets/finetuning/VQA-RAD/images/synpic52988.jpg
/datasets/finetuning/VQA-RAD/images/synpic53033.jpg
/datasets/finetuning/VQA-RAD/images/synpic53097.jpg
/datasets/finetuning/VQA-RAD/images/synpic53207.jpg
/datasets/finetuning/VQA-RAD/images/synpic53228.jpg
/datasets/finetuning/VQA-RAD/images/synpic53287.jpg
/datasets/finetuning/VQA-RAD/images/synpic53574.jpg
/datasets/finetuning/VQA-RAD/images/synpic53635.jpg
/datasets/finetuning/VQA-RAD/images/synpic53816.jpg
/datasets/finetuning/VQA-RAD/images/synpic53867.jpg
/datasets/finetuning/VQA-RAD/images/synpic53978.jpg
/datasets/finetuning/VQA-RAD/images/synpic54004.jpg
/datasets/finetuning/VQA-RAD/images/synpic54391.jpg
/datasets/finetuning/VQA-RAD/images/synpic54610.jpg
/datasets/finetuning/VQA-RAD/images/synpic54795.jpg
/datasets/finetuning/VQA-RAD/images/synpic54802.jpg
/datasets/finetuning/VQA-RAD/images/synpic54823.jpg
/datasets/finetuning/VQA-RAD/images/synpic55245.jpg
/datasets/finetuning/VQA-RAD/images/synpic55286.jpg
/datasets/finetuning/VQA-RAD/images/synpic55317.jpg
/datasets/finetuning/VQA-RAD/images/synpic55464.jpg
/datasets/finetuning/VQA-RAD/images/synpic55583.jpg
/datasets/finetuning/VQA-RAD/images/synpic55948.jpg
/datasets/finetuning/VQA-RAD/images/synpic56061.jpg
/datasets/finetuning/VQA-RAD/images/synpic56116.jpg
/datasets/finetuning/VQA-RAD/images/synpic56344.jpg
/datasets/finetuning/VQA-RAD/images/synpic56388.jpg
/datasets/finetuning/VQA-RAD/images/synpic56422.jpg
/datasets/finetuning/VQA-RAD/images/synpic56799.jpg
/datasets/finetuning/VQA-RAD/images/synpic56841.jpg
/datasets/finetuning/VQA-RAD/images/synpic57237.jpg
/datasets/finetuning/VQA-RAD/images/synpic57317.jpg
/datasets/finetuning/VQA-RAD/images/synpic57368.jpg
/datasets/finetuning/VQA-RAD/images/synpic57520.jpg
/datasets/finetuning/VQA-RAD/images/synpic57813.jpg
/datasets/finetuning/VQA-RAD/images/synpic57935.jpg
/datasets/finetuning/VQA-RAD/images/synpic58261.jpg
/datasets/finetuning/VQA-RAD/images/synpic58547.jpg
/datasets/finetuning/VQA-RAD/images/synpic58902.jpg
/datasets/finetuning/VQA-RAD/images/synpic59126.jpg
/datasets/finetuning/VQA-RAD/images/synpic59131.jpg
/datasets/finetuning/VQA-RAD/images/synpic59356.jpg
/datasets/finetuning/VQA-RAD/images/synpic59536.jpg
/datasets/finetuning/VQA-RAD/images/synpic59935.jpg
/datasets/finetuning/VQA-RAD/images/synpic60096.jpg
/datasets/finetuning/VQA-RAD/images/synpic60254.jpg
/datasets/finetuning/VQA-RAD/images/synpic60423.jpg
/datasets/finetuning/VQA-RAD/images/synpic60543.jpg
/datasets/finetuning/VQA-RAD/images/synpic60703.jpg
/datasets/finetuning/VQA-RAD/images/synpic60831.jpg
/datasets/finetuning/VQA-RAD/images/synpic100132.jpg
/datasets/finetuning/VQA-RAD/images/synpic100176.jpg
/datasets/finetuning/VQA-RAD/images/synpic100228.jpg
/datasets/finetuning/Slake/test.tsv
/datasets/finetuning/VQA-RAD/test.tsv
/datasets/finetuning/VQA-RAD/cache/test_target.pkl
/datasets/finetuning/VQA-RAD/testset.json
/datasets/finetuning/Slake/train.tsv
/datasets/finetuning/VQA-RAD/cache/train_target.pkl
/datasets/finetuning/VQA-RAD/train_val.tsv
/datasets/finetuning/VQA-RAD/trainset.json
/datasets/finetuning/Slake/trainval_ans2label.pkl
/datasets/finetuning/VQA-RAD/cache/trainval_ans2label.pkl
/datasets/finetuning/VQA-RAD/trainval_ans2label_pubmedclip.pkl
/datasets/finetuning/VQA-RAD/cache/trainval_label2ans.pkl
/datasets/finetuning/Slake/val.tsv
/.idea/vcs.xml
